<h6 class="title streamsTitle text-center text-4xl font-bold">
  Top Live Streams:</h6>
<!-- Titles Start Here -->
<div class="grid grid-cols-3 mt-12 text-3xl" style="border-bottom:1px solid;">
  <div>Streamer</div>

  <div>About</div>

  <div>Screenshot</div>

</div>
<!-- Titles End Here -->
{{#each streams as |stream|}}
  <div class="grid grid-cols-3 my-10">

    <!-- Stream 1 Styles Here -->
    <div id="streamName1">
      <p class="text-2xl">
        {{stream.user_name}}
      </p>
    </div>
    <div id="streamView1">
      <p>Game: {{stream.game_name}}</p>
      <p>Current Viewers: {{stream.viewer_count}}</p>
    </div>
    <div id="clipView1">

      <p class="clipView"><a href="https://twitch.tv/{{stream.user_name}}"><img
            src="{{stream.thumbnail_url}}"
          /></a>
      </p>
      <p class="text-gray-400">{{stream.title}}</p>
    </div>
  </div>

{{/each}}
<!-- Stream 2 Styles Here -->

<!-- Stream 3 Styles Here -->

<!-- Stream Info Here -->
<!-- Streamer Viewers Here -->

<!-- Stream Clip Here -->
<!-- <div id="streamClip"></div> -->

<!-- Insert Pulled Data Here -->

{{#each blogs as |blog|}}

  <div>{{blog}}</div>

{{/each}}

<!--<script src="/js/streams.js"></script>-->