<h6 class="title streams text-center text-4xl bg-purple-400 font-bold">Top
  Streams Here:</h6>
<!-- Titles Start Here -->
<div class="grid grid-cols-3 mt-12 text-3xl" style="border-bottom:1px solid;">
  <div>Streamer</div>

  <div>Info</div>

  <div>Clips</div>

</div>
<!-- Titles End Here -->
{{#each streams as |stream|}}
  <div class="grid grid-cols-3 text-2xl my-10">

    <!-- Stream 1 Styles Here -->
    <div id="streamName1">
      <p>
        <a href="https://twitch.tv/{{stream.user_name}}">{{stream.user_name}}
        </a>

      </p>
    </div>
    <div id="streamView1"><p>{{stream.viewer_count}}</p></div>
    <div id="clipView1"><p><img src="{{stream.thumbnail_url}}" /></p></div>
  </div>

{{/each}}
<!-- Stream 2 Styles Here -->

<!-- Stream 3 Styles Here -->

<!-- Stream Info Here -->
<!-- Streamer Viewers Here -->

<!-- Stream Clip Here -->
<!-- <div id="streamClip"></div> -->

<!-- Insert Pulled Data Here -->

{{#each blogs as |blog|}}

  <div>{{blog}}</div>

{{/each}}

<!--<script src="/js/streams.js"></script>-->